@charset "UTF-8";
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu .menu_link {
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
}

.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 50px;
}

.subheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(20, 20, 20, 0.822);
  height: 87px;
}

.subheader .subheader_offcial {
  color: white;
}

.subheader .subheader_logo {
  max-width: 100%;
}

.subheader_call {
  color: white;
}

.subheader_call .subheader_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-decoration: none;
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.subheader .subheader_btn {
  width: 190px;
  height: 55px;
  color: white;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 193, 241, 0.842);
          box-shadow: inset 0px -3px 0px rgba(0, 193, 241, 0.842);
  border-radius: 4px;
}

.header_section {
  min-height: 800px;
  background-image: url(../image/uber_bg.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.header_section .header_text {
  display: block;
  line-height: 38px;
  font-size: 49px;
  font-weight: 700;
  margin-top: 70px;
  text-align: center;
  color: white;
}

.header_section .header_text .header_textsmall {
  font-weight: 600;
  font-size: 30px;
}

.header_smpltext {
  margin-top: 22px;
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header_btn {
  display: block;
  width: 210px;
  height: 55px;
  color: white;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 193, 241, 0.842);
          box-shadow: inset 0px -3px 0px rgba(0, 193, 241, 0.842);
  border-radius: 4px;
  margin: auto;
  margin-top: 118px;
}

.info {
  margin-top: 20px;
}

.info_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info_simple {
  margin-top: 15px;
  width: 113px;
  height: 24px;
  background-color: black;
  color: white;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.info .title, .info h2 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
}

.info_text {
  vertical-align: top;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_textbl {
  color: #21bcdb;
}

.info_logo {
  width: 18%;
  min-width: 120px;
  min-height: 116px;
  background-color: #1EACC7;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}

.info_colubm {
  vertical-align: text-top;
  min-height: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile .mobile_simple {
  margin-top: 15px;
  width: 113px;
  height: 24px;
  background-color: black;
  color: white;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 60px;
  text-transform: uppercase;
}

.mobile_title {
  margin-top: 10px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}

.mobile_smltext {
  font-weight: 500;
  text-align: center;
}

.mobile #mobile_col_wd {
  width: 340px;
}

.mobile_columb1 {
  margin-top: 20px;
  min-height: 280px;
  background-image: url(../image/Карточка1.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile_columb2 {
  margin-top: 20px;
  min-height: 280px;
  background-image: url(../image/Карточка2.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile_columb3 {
  margin-top: 20px;
  min-height: 280px;
  background-image: url(../image/Карточка3.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile_columb4 {
  margin-top: 20px;
  min-height: 280px;
  background-image: url(../image/Карточка4.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile_columb5 {
  margin-top: 20px;
  min-height: 280px;
  background-image: url(../image/Карточка5.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile_columb6 {
  margin-top: 20px;
  min-height: 280px;
  background-image: url(../image/Карточка6.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile #mobile_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile_text {
  margin-top: 50px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}

.mobile_btn {
  width: 29px;
  height: 29px;
  background-color: black;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  margin-top: 90px;
}

.car {
  margin-top: 70px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, black), color-stop(50%, white));
  background: linear-gradient(black 50%, white 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.car_title {
  margin-top: 10px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-bottom: 1px;
}

.car_simple {
  margin-top: 15px;
  width: 113px;
  height: 24px;
  background-color: black;
  color: white;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: black;
  background-color: white;
  text-transform: uppercase;
  margin-top: 30px;
}

.car_smltext {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.car_imgcar {
  margin-top: 50px;
  max-height: 100%;
  max-width: 100%;
}

.car_smltext2 {
  color: black;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

.terms {
  margin-top: 80px;
}

.terms_simple {
  margin-top: 15px;
  width: 113px;
  height: 24px;
  background-color: black;
  color: white;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.terms_title {
  margin-top: 10px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}

.terms_stain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.terms_textbl {
  padding-top: 15px;
  font-size: 22px;
  color: #1EACC7;
}

.terms_icon {
  margin-right: 8px;
  margin-top: 8px;
}

.terms_icon1 {
  opacity: 0;
}

.terms_textblk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.terms_text {
  margin-bottom: 20px;
  margin-left: 15px;
}

.terms_textrd {
  padding-top: 15px;
  font-size: 22px;
  color: #c71e1e;
}

.world {
  background-color: black;
  background-image: url(../image/world_bg.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 720px;
}

.world_stain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 694px;
}

.world_simple {
  margin-top: 15px;
  width: 113px;
  height: 24px;
  background-color: black;
  color: white;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  margin: 65px 0 15px 0;
  width: 79px;
  color: black;
}

.world_title {
  margin-top: 10px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-bottom: 0px;
  letter-spacing: 2px;
}

.world_spltext {
  text-align: center;
  font-weight: 300;
  font-size: 19px;
  color: white;
}

.world_textbl {
  color: #1EACC7;
  text-transform: uppercase;
  margin-top: 480px;
}

#footer_row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

#footer_blrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer_border {
  border: none;
  background-color: white;
}

#footer_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  padding: 16px 21px 11px 21px;
}

.footer_linebl {
  width: 255px;
  min-height: 6px;
  background-color: #1FBAD6;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.footer_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 113px;
}

.footer_icon {
  border: none;
  background-color: black;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  color: white;
}

.footer_block {
  min-width: 142px;
  margin: 0 0 5px 0;
}

.footer_tablo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_tablo_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_tablo_top_text {
  border: none;
  padding: 0 9px 0 9px;
  font-weight: 300;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 17px;
  line-height: 22px;
  background-color: white;
  text-transform: uppercase;
}

.footer_tablo_text_blue {
  color: #1EACC7;
  margin: 10px 0 10px 0;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}

.footer_tablo_opacity {
  margin-top: 15px;
}

.footer_tablo_opacity_text {
  text-align: center;
  padding: 0 2px 0 2px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 13px;
  background-color: white;
  text-transform: uppercase;
}

.footer_app {
  min-width: 292px;
}

.footer_app_img {
  width: 94px;
  height: 27px;
  border: none;
  background-color: black;
}
/*# sourceMappingURL=style.css.map */